.sidemenu {
  min-width: 28rem;
  max-width: 19.5%;
  width: 100%;
  min-height: 100vh;

  background-color: #fff;
}

@media screen and (max-width: 1440px) {
  .sidemenu {
    min-width: 25rem;
  }
}
