.profile {
  padding: 1.3rem 1.4rem;
  margin-right: 4.1rem;
  background-color: #f3f5fa;

  display: flex;
  align-items: center;
  gap: 2rem;
}

.profile > img {
  width: 4.6rem;
  height: 4.6rem;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.details > a {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4rem;
  color: #5d4e7b;
}

.status {
  display: flex;
  align-items: center;
  gap: 3px;
}

.status > p {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #5d4e7b;
}

@media screen and (max-width: 1440px) {
}
